/* RESET CSS */
*{ 
    margin:0;
    padding:0; 
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, Helvetica, sans-serif ;
    margin:0;
    padding:0; 
    text-align: center;
}

header {
    background-color: rgb(157, 61, 61);
    color: white;
    padding: 20px 0;
}

.recipe{
    padding:20px;   
    text-align: left;
    margin: 0 auto;
    width: 50%;
}

ol, ul {

    margin: 20px 0;
}

footer {

    background-color: rgb(157, 61, 61);
    color:white;
    padding: 10px 0;
    position:relative;
    bottom:0;/* bottom descer para o final da pagina */
    width: 100%;
}

img{
    position: relative;
    left: 45%;
    top:45%;
    width: 45%;
    height: 45%;
    border-radius: 20%;
    border: solid;
    border-color:rgb(157, 61, 61) ;
}